* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: var(--texto);
    background-color: rgb(220, 233, 255);
    transition: background-color 1.0s, color 1.0s;
}

body.escuro {
    --fundo-principal: #1f1f1f;
    --texto: #ffffff;
    --destaque: #df5313;
    background-color: rgb(0, 0, 0);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
}

section article {
    background-color: var(--fundo-principal);
    margin: 20px;
}

section#ficha {
    background-color: var(--fundo-principal);
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu a {
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 1s color 0.5s;
}

#menu a img {
    width: 20px;
}

#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

#ficha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-card);
}

#ficha h1 {
    color: var(--destaque);
    line-height: 1.5;
}

#ficha img {
    width: 100px;
    margin: 20px;
}

#ficha p {
    margin: 20px;
}

#social {
    display: flex;
    flex-direction: center;
}

#social img {
    width: 30px;
    margin: 10px;
}

article {
    padding: 20px;
}

.detalhes-titulos {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--destaque);
}

.detalhes-titulos img {
    width: 20px;
}

.detalhes-titulos h2 {
    margin-left: 5px;
}

.skillpercent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillpercent h3 {
    color: var(--destaque);
}

.skillpercent span {
    font-weight: bold;
}

.bgbar {
    width: 100%;
    height: 15px;
    margin-bottom: 15px;
    background-color: rgb(209, 209, 209);
    border-radius: 8px;
}

.progress {
    height: 100%;
    background-color: var(--destaque);
    border-radius: 8px;
}

.boxformation {
    margin-bottom: 15px;
    padding-left: 5px;
    border-left: 10px solid var(--destaque);
    border-radius: 8px;
    transition: border 0.3s;
}

.boxformation:hover {
    margin-bottom: 15px;
    padding-left: 5px;
    border-left: 20px solid var(--destaque);
    border-radius: 8px;
}

.boxformation h3 {
    color: var(--destaque);
}

@media screen and (min-width: 768px) {

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section article {
        width: 70vw;
    }

    section#ficha {
        width: 20vw;
    }

}